.contents {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.gpt,
.center,
.todo {
  width: 30%;
  height: 90%;
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  justify-content: flex-start;
}

.gpt-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.gpt-inputs textarea {
  width: 100%;
  min-height: 80px;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
}

.gpt-inputs button {
  width: 40%;
  border-radius: 10px;
  padding: 0.5rem 0.1rem;
  border: none;
  color: white;
  background-color: slateblue;
  font-size: 1.1rem;
  opacity: 0.5;
}

.explain {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.6;
  word-break: keep-all;
  word-wrap: break-word;
}

.explain__title {
  font-size: 1.9rem;
}

.answer {
  font-size: 0.9rem;
  line-height: 1.5;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons button {
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
}

.btn-code {
  background-color: tomato;
}

.btn-lang {
  background-color: #1e88e5;
}

.btn-out {
  padding: 0;
  border: none;
  width: 100%;
  max-height: 230px;
  border-radius: 10px;
}

.img-out {
  border-radius: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
}

#todo-form {
  width: 100%;
}
#todo-form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
}

#todo-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#todo-list li {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

#todo-list li button:last-child {
  border: none;
  background: none;
  color: red;
  font-weight: 600;
  font-size: 1.5rem;
}
